.main-content {
  outline: 1px solid green;
}

.main-content__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-content__item:nth-child(n+2) {
  margin-left: auto;
}

.main-content__title {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  color: @dark-gray;
}

.main-content__description {
  font-size: 26px;
  line-height: 28px;
  color: @dark-gray;
}