.recomendation {
  padding: 22px 20px 25px 23px;
  width: 240px;
  background-color: @white;
  border-radius: 5px;
;
}

.recomendation__title {
  margin: 0 0 24px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 100;
  color: @dark-gray;
}

.recomendation__item {
  margin: 16px 0 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: @light-grey;
  display: block;
}

.recomendation__item:nth-child(9) {
  span {
    display: block;
  }
}

.recomendation__item:nth-child(10) {
  span {
    display: block;
  }
}

.recomendation__item:hover {
  color: @orange;
}