.useful-information {
  width: 878px;
  background-color: @white;
  border-radius: 5px;
}

.useful-information__title {
  margin: 0;
  font-size: 26px;
  line-height: 28px;
  color: @dark-gray;
}

.useful-information__content {
  color: @dark-gray;
}